@model IEnumerable<WebApplication_UESL.Models.Enrollment>

@{
    ViewBag.Title = "index";
    var grid = new WebGrid(source: Model, rowsPerPage: 1000);
}

@* css *@
<style type="text/css">
    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
</style>

<h2>List of Enrollments</h2>

@using (Html.BeginForm(Model))
{
    <p>
        <h2>Search</h2>
        <div class="row" style="padding:6px">
            <div class="col-md-2" style="text-align:right">
                Student First Name:
            </div>
            <div class="col-md-2">
                @Html.TextBox("fName")
            </div>
            <div class="col-md-2" style="text-align:right">
                Student Last Name:
            </div>
            <div class="col-md-2">
                @Html.TextBox("lName")
            </div>
            <div class="col-md-2" style="text-align:right">
                Student ID:
            </div>
            <div class="col-md-2">
                @Html.TextBox("sID")
            </div>
        </div>
        <div class="row" style="padding:6px">
            <div class="col-md-2" style="text-align:right">
                Class Name:
            </div>
            <div class="col-md-2">
                @Html.TextBox("ClassName")
            </div>
            <div class="col-md-2" style="text-align:right">
                classID:
            </div>
            <div class="col-md-2">
                @Html.TextBox("classID")
            </div>
            <div class="col-md-2" style="text-align:right">
                Grade:
            </div>
            <div class="col-md-2">
                @Html.TextBox("Grade")
            </div>

        </div>

        <div class="row" style="padding:6px">
            <div class="col-md-2" style="text-align:right">
                Instructor:
            </div>
            <div class="col-md-2">
                @Html.TextBox("Instructor")
            </div>
            <div class="col-md-2" style="text-align:right">
                Quarter:
            </div>
            <div class="col-md-2">
                @Html.TextBox("quarter")
            </div>
        </div>


        <input type="submit" value="Filter" />
    </p>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Html.BeginForm("DeleteSelected", "Enrollments"))
{
    @grid.GetHtml(
                tableStyle: "gridtable",
                columns:
                    grid.Columns(

                        @*Add Checkbox*@
                        grid.Column(format:@<text><input type="checkbox" name="ids" value="@item.EnrollmentID" /></text>, header: "Select"),
                        grid.Column(format: (item) => Html.ActionLink("Edit", "edit", new { id = item.EnrollmentID }), style: "column-action"),
                        grid.Column(format: (item) => Html.ActionLink("Details", "details", new { id = item.EnrollmentID }), style: "column-action"),
                        grid.Column("Student.FirstName", "First Name"),
                        grid.Column("Student.LastName", "Last Name"),
                        grid.Column("Student.StudentID", "Student ID"),
                        grid.Column("grade", "Grade"),
                        grid.Column("Course.classID", "Class ID"),
                        grid.Column("Course.className", "Class Name"),
                        grid.Column("Course.quarter", "Quarter"),
                        grid.Column("Course.CatalogNumber", "Catlog Number"),
                        grid.Column("Course.MeetTime", "Meet Time"),
                        grid.Column("Course.Location", "Location"),
                        grid.Column("Course.Instructor", "Instructor")






                    )
                )

    <input type="submit" value="Delete Selected" onclick="return confirm('Are you SURE you want to delete these Records?')" />
}



@*
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.classID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.StudentID)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.classID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.EnrollmentID }) |
                @Html.ActionLink("Details", "Details", new { id=item.EnrollmentID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.EnrollmentID })
            </td>
        </tr>
    }

    </table>
*@
