@model IEnumerable<WebApplication_UESL.Models.Course>

@{
    ViewBag.Title = "index";
    var grid = new WebGrid(source: Model, rowsPerPage: 1000);
}


@* css *@
<style type="text/css">
    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
</style>
<h2>Index</h2>

<p>
    @*@ @Html.ActionLink("Create New", "Create") *@
    <button onclick="location.href='@Url.Action("Create", "Courses")';return false;">Add a new course</button>
</p>
</p>

@using (Html.BeginForm(Model))
{
    <p>
        <h2>Search</h2>
        <div class="row" style="padding:6px">
            <div class="col-md-2" style="text-align:right">
                Class Name:
            </div>
            <div class="col-md-2">
                @Html.TextBox("ClassName")
            </div>
            <div class="col-md-2" style="text-align:right">
                classID:
            </div>
            <div class="col-md-2">
                @Html.TextBox("classID")
            </div>
        </div>    
        
        <div class="row" style="padding:6px">
            <div class="col-md-2" style="text-align:right">
                Instructor:
            </div>
            <div class="col-md-2">
                @Html.TextBox("Instructor")
            </div>
            <div class="col-md-2" style="text-align:right">
                Quarter:
            </div>
            <div class="col-md-2">
                @Html.TextBox("quarter")
            </div>
        </div>
                    

        <input type="submit" value="Filter" />
    </p>
}

@using (Html.BeginForm("DeleteSelected", "Courses"))
{
    @grid.GetHtml(
                tableStyle: "gridtable",
                columns:
                    grid.Columns(

                        @*Add Checkbox*@
                        grid.Column(format:@<text><input type="checkbox" name="ids" value="@item.ClassRecordID" /></text>, header: "Select"),
                        grid.Column(format: (item) => Html.ActionLink("Edit", "edit", new { id = item.ClassRecordID }), style: "column-action"),
                        grid.Column(format: (item) => Html.ActionLink("Details", "details", new { id = item.ClassRecordID }), style: "column-action"),
                        grid.Column("ClassName", "Class Name"),
                        grid.Column("classID", "Class ID"),
                        grid.Column("Instructor", "Instructor"),
                        grid.Column("quarter", "Quarter"),
                        grid.Column("MeetTime", "Meeting Time"),
                        grid.Column("Location", "Location"),
                        grid.Column("CatalogNumber", "Catalog Number")
                        



                    )
                )

    <input type="submit" value="Delete Selected" onclick="return confirm('Are you SURE you want to delete these courses?')" />
}


@*
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CatalogNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.course_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetTimeandLocation)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CatalogNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.course_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetTimeandLocation)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ClassRecordID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ClassRecordID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ClassRecordID })
            </td>
        </tr>
    }

    </table>
*@
