@model IEnumerable<WebApplication_UESL.Models.Course>

@{
    ViewBag.Title = "index";
    var grid = new WebGrid(source: Model, rowsPerPage: 1000);
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>
                    $(document).ready(function () {

                        // 1st replace first column header text with checkbox

                        $("#checkableGrid th").each(function () {
                            if ($.trim($(this).text().toString().toLowerCase()) === "{checkall}") {
                                $(this).text('');
                                $("<input/>", { type: "checkbox", id: "cbSelectAll", value: "" }).appendTo($(this));
                                $(this).append("<span>Select All</span>");
                            }
                        });

                        //2nd click event for header checkbox for select /deselect all
                        $("#cbSelectAll").click(function () {
                            var ischecked = this.checked;
                            $('#checkableGrid').find("input:checkbox").each(function () {
                                this.checked = ischecked;
                            });
                        });


                        //3rd click event for checkbox of each row
                        $("input[name='ids']").click(function () {
                            var totalRows = $("#checkableGrid td :checkbox").length;
                            var checked = $("#checkableGrid td :checkbox:checked").length;

                            if (checked == totalRows) {
                                $("#checkableGrid").find("input:checkbox").each(function () {
                                    this.checked = true;
                                });
                            }
                            else {
                                $("#cbSelectAll").removeAttr("checked");
                            }
                        });

                    });
</script>

<script>
    $(function () {

        // Initialize modal dialog
        // attach modal-container bootstrap attributes to links with .modal-link class.
        // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
        $('body').on('click', '.modal-link', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container');
            $(this).attr('data-toggle', 'modal');
        });
        // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
        $('body').on('click', '.modal-close-btn', function () {
            $('#modal-container').modal('hide');
        });
        //clear modal cache, so that new content can be loaded
        $('#modal-container').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
        $('#CancelModal').on('click', function () {
            return false;
        });
    });
</script>


@* css *@
<style type="text/css">
    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
</style>
<h2>Courses List</h2>

<p>
    @*@ @Html.ActionLink("Create New", "Create") *@
    <button onclick="location.href='@Url.Action("Create", "Courses")';return false;">Add a new course</button>
</p>
</p>

@using (Html.BeginForm(Model))
{
    <p>
        <h2>Search</h2>
        <div class="row" style="padding:6px">
            <div class="col-md-2" style="text-align:right">
                Class Name:
            </div>
            <div class="col-md-2">
                @Html.TextBox("ClassName")
            </div>
            <div class="col-md-2" style="text-align:right">
                classID:
            </div>
            <div class="col-md-2">
                @Html.TextBox("classID")
            </div>
        </div>    
        
        <div class="row" style="padding:6px">
            <div class="col-md-2" style="text-align:right">
                Instructor:
            </div>
            <div class="col-md-2">
                @Html.TextBox("Instructor")
            </div>
            <div class="col-md-2" style="text-align:right">
                Quarter:
            </div>
            <div class="col-md-2">
                @Html.TextBox("quarter")
            </div>
        </div>
                    

        <input type="submit" value="Filter" />
    </p>
}

@using (Html.BeginForm("DeleteSelected", "Courses"))
{
    @grid.GetHtml(
                tableStyle: "gridtable",
                htmlAttributes: new { id = "checkableGrid" },
                columns:
                    grid.Columns(

                        @*Add Checkbox*@
                        grid.Column(format:@<text><input type="checkbox" name="ids" value="@item.ClassRecordID" /></text>, header: "{checkall}"),
                        grid.Column(format: (item) => Html.ActionLink("Edit", "edit", new { id = item.ClassRecordID }), style: "column-action"),
                        grid.Column(format: (item) => Html.ActionLink("Details", "details", new { id = item.ClassRecordID }), style: "column-action"),
                        grid.Column("ClassName", "Class Name"),
                        grid.Column("classID", "Class ID"),
                        grid.Column("Instructor", "Instructor"),
                        grid.Column("quarter", "Quarter"),
                        grid.Column("MeetTime", "Meeting Time"),
                        grid.Column("Location", "Location"),
                        grid.Column("CatalogNumber", "Catalog Number")                       



                    )
                )

    <button type="submit"  value="del" name="submitButton" onclick="return confirm('Are you SURE you want to delete these courses?')" >Delete Selected</button>
    <button type="submit" value="ex" name="submitButton"  onclick="return confirm('Confirm mark for export?')">Mark Selected For Export</button>
}
@Html.ActionLink("Show Export Bag", "coursesExport", "Courses",
null, new { @class = "modal-link btn btn-success" })

<div id="modal-container" class="modal fade"
     tabindex="-1" role="dialog">

</div>
