

@model IEnumerable<WebApplication_UESL.Models.Student>

@{
    ViewBag.Title = "index";
    var grid = new WebGrid(source: Model, rowsPerPage: 1000);
}


@* css *@
<style type="text/css">
    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
</style>




<h2>Students</h2>

<p>
   @*@ @Html.ActionLink("Create New", "Create") *@
    <button onclick="location.href='@Url.Action("Create", "Students")';return false;">Add a new student</button>
</p>

@using (Html.BeginForm(Model))
{
    <p>
        <h2>Search</h2>
        <div class="row" style="padding:6px">
            <div class="col-md-2" style="text-align:right">
                First Name:
            </div>
            <div class="col-md-2">
                @Html.TextBox("firstName")
            </div>
            <div class="col-md-2" style="text-align:right">
                Last Name:
            </div>
            <div class="col-md-2">
                @Html.TextBox("lastName")
            </div>
        </div>
        <div class="row" style="padding:6px">
            <div class="col-md-2" style="text-align:right">
                Student ID:
            </div>
            <div class="col-md-2">
                @Html.TextBox("sID")
            </div>
            <div class="col-md-2" style="text-align:right">
                Citezenship:
            </div>
            <div class="col-md-2">
                @Html.TextBox("Citezenship") 
            </div>
        </div>
        <div class="row" style="padding:6px">
            <div class="col-md-2" style="text-align:right">
                School/Agent:
            </div>
            <div class="col-md-2">
                @Html.TextBox("agent") 
            </div>
            <div class="col-md-2" style="text-align:right">
                I 20 Expiration:
            </div>
            <div class="col-md-2">
                @Html.TextBox("I20exp",null, new { @type = "month" }) 
            </div>
        </div>
       
        <input type="submit" value="Filter" />
    </p>
}

@using (Html.BeginForm("DeleteSelected", "Students"))
{
    @grid.GetHtml(
                tableStyle: "gridtable",
                columns:
                    grid.Columns(

                        @*Add Checkbox*@
                        grid.Column(format:@<text><input type="checkbox" name="ids" value="@item.UniqueRecordID" /></text>, header: "Select"),
                        grid.Column(format: (item) => Html.ActionLink("Edit", "edit", new { id = item.UniqueRecordID }), style: "column-action"),
                        grid.Column(format: (item) => Html.ActionLink("Details", "details", new { id = item.UniqueRecordID }), style: "column-action"),
                        grid.Column("StudentID", "Student ID"),
                        grid.Column("FirstName", "First Name"),
                        grid.Column("LastName", "Last Name"),
                        grid.Column("Citezenship", "Citezenship"),
                        grid.Column("School_Agent", "School / Agent"),
                        grid.Column("I_20_Expiration", "I 20 Expiration", format: item => ((item.I_20_Expiration == null) ? "" : item.I_20_Expiration.ToString("MM/dd/yyyy")))

                    )
                )

    <input type="submit" value="Delete Selected" onclick="return confirm('Are you SURE you want to delete these students?')" />
}
 