@model WebApplication_UESL.Models.Enrollment

@{
    ViewBag.Title = "details";
}

<h0>Enrollment Details</h0>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.CatalogNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CatalogNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>

    </dl>
</div>

<hr />
<footer>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Students", "index", "Students")</li>
            <li>@Html.ActionLink("Courses", "index", "Courses")</li>
            <li>@Html.ActionLink("Enrollments", "index", "Enrollments")</li>
        </ul>
    </div>
</footer>