@model WebApplication_UESL.Models.Enrollment

@{
    ViewBag.Title = "details";
}

<h2>details</h2>

<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.CatalogNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CatalogNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EnrollmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
