
<script>
                    $(document).ready(function () {

                        // 1st replace first column header text with checkbox

                        $("#checkableGrid2 th").each(function () {
                            if ($.trim($(this).text().toString().toLowerCase()) === "{checkall}") {
                                $(this).text('');
                                $("<input/>", { type: "checkbox", id: "cbSelectAll2", value: "" }).appendTo($(this));
                                $(this).append("<span>Select All</span>");
                            }
                        });

                        //2nd click event for header checkbox for select /deselect all
                        $("#cbSelectAll2").click(function () {
                            var ischecked = this.checked;
                            $('#checkableGrid2').find("input:checkbox").each(function () {
                                this.checked = ischecked;
                            });
                        });


                        //3rd click event for checkbox of each row
                        $("input[name='ids']").click(function () {
                            var totalRows = $("#checkableGrid2 td :checkbox").length;
                            var checked = $("#checkableGrid2 td :checkbox:checked").length;

                            if (checked == totalRows) {
                                $("#checkableGrid2").find("input:checkbox").each(function () {
                                    this.checked = true;
                                });
                            }
                            else {
                                $("#cbSelectAll2").removeAttr("checked");
                            }
                        });

                    });
</script>


<div class="modal-body">
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

        @model IEnumerable<WebApplication_UESL.Models.Enrollment>

        @{
            ViewBag.Title = "enrollmentsExport";
            WebGrid grid = new WebGrid(source: Model, rowsPerPage: 1000);
        }

        @using (Html.BeginForm("export", "Enrollments"))
        {
            @grid.GetHtml(
                tableStyle: "gridtable",
                htmlAttributes: new { id = "checkableGrid2" },

                columns:
                    grid.Columns(

                        @*Add Checkbox*@
                        grid.Column(format:@<text><input type="checkbox" name="ids2" value="@item.EnrollmentID" /></text>, header: "{checkall}", canSort: false),
                        grid.Column("Student.FirstName", "First Name",canSort:false),
                        grid.Column("Student.LastName", "Last Name", canSort: false),
                        grid.Column("Student.StudentID", "Student ID", canSort: false),
                        grid.Column("grade", "Grade", canSort: false),
                        grid.Column("Course.classID", "Class ID", canSort: false),
                        grid.Column("Course.className", "Class Name", canSort: false),
                        grid.Column("Course.quarter", "Quarter", canSort: false),
                        grid.Column("Course.CatalogNumber", "Catlog Number", canSort: false),
                        grid.Column("Course.MeetTime", "Meet Time", canSort: false),
                        grid.Column("Course.Location", "Location", canSort: false),
                        grid.Column("Course.Instructor", "Instructor", canSort: false)



                    )
                )

            <button type="submit" value="remove" name="submitButton" onclick="return confirm('Are you SURE you want to remove these from the export bag?')">Remove From Export Bag</button>
            <button type="submit" value="exp" name="submitButton">Export To Excel</button>
        }
    </div>
</div>

<hr />
<footer>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Students", "index", "Students")</li>
            <li>@Html.ActionLink("Courses", "index", "Courses")</li>
            <li>@Html.ActionLink("Enrollments", "index", "Enrollments")</li>
        </ul>
    </div>
</footer>