@model IEnumerable<WebApplication_UESL.Models.Enrollment>

@{
    ViewBag.Title = "index";
    var grid = new WebGrid(source: Model, rowsPerPage: 1000);
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        // 1st replace first column header text with checkbox

        $("#checkableGrid th").each(function () {
            if ($.trim($(this).text().toString().toLowerCase()) === "{checkall}") {
                $(this).text('');
                $("<input/>", { type: "checkbox", id: "cbSelectAll", value: "" }).appendTo($(this));
                $(this).append("<span>Select All</span>");
            }
        });

        //2nd click event for header checkbox for select /deselect all
        $("#cbSelectAll").click(function () {
            var ischecked = this.checked;
            $('#checkableGrid').find("input:checkbox").each(function () {
                this.checked = ischecked;
            });
        });


        //3rd click event for checkbox of each row
        $("input[name='ids']").click(function () {
            var totalRows = $("#checkableGrid td :checkbox").length;
            var checked = $("#checkableGrid td :checkbox:checked").length;

            if (checked == totalRows) {
                $("#checkableGrid").find("input:checkbox").each(function () {
                    this.checked = true;
                });
            }
            else {
                $("#cbSelectAll").removeAttr("checked");
            }
        });

    });
</script>
<script>
    $(function () {

        // Initialize modal dialog
        // attach modal-container bootstrap attributes to links with .modal-link class.
        // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
        $('body').on('click', '.modal-link', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container');
            $(this).attr('data-toggle', 'modal');
        });
        // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
        $('body').on('click', '.modal-close-btn', function () {
            $('#modal-container').modal('hide');
        });
        //clear modal cache, so that new content can be loaded
        $('#modal-container').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
        $('#CancelModal').on('click', function () {
            return false;
        });
    });
</script>

@* css *@
<style type="text/css">
    table.gridtable {
        background-color: rgba(255, 234, 153, 0.60);
        font-family: verdana,arial,sans-serif;
        font-size: 13px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table.gridtable th {
            background-color: rgba(255, 234, 153, 0.60);
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
        }

        table.gridtable td {
            background-color: rgba(255, 234, 153, 0.60);
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
        }
</style>

<center>
    <h0>List of Enrollments</h0>
</center>

@using (Html.BeginForm(Model))
{
    <p>
        <h3>Search</h3>
        <center>
            <div class="row" style="padding:6px">
                <div class="col-md-2" style="text-align:right">
                    Student First Name:
                </div>
                <div class="col-md-2">
                    @Html.TextBox("fName")
                </div>
                <div class="col-md-2" style="text-align:right">
                    Student Last Name:
                </div>
                <div class="col-md-2">
                    @Html.TextBox("lName")
                </div>
                <div class="col-md-2" style="text-align:right">
                    Student ID:
                </div>
                <div class="col-md-2">
                    @Html.TextBox("sID")
                </div>
            </div>
            <div class="row" style="padding:6px">
                <div class="col-md-2" style="text-align:right">
                    Class Name:
                </div>
                <div class="col-md-2">
                    @Html.TextBox("ClassName")
                </div>
                <div class="col-md-2" style="text-align:right">
                    Class ID:
                </div>
                <div class="col-md-2">
                    @Html.TextBox("Class ID")
                </div>
                <div class="col-md-2" style="text-align:right">
                    Grade:
                </div>
                <div class="col-md-2">
                    @Html.TextBox("Grade")
                </div>

            </div>

            <div class="row" style="padding:6px">
                <div class="col-md-2" style="text-align:right">
                    Instructor:
                </div>
                <div class="col-md-2">
                    @Html.TextBox("Instructor")
                </div>
                <div class="col-md-2" style="text-align:right">
                    Quarter:
                </div>
                <div class="col-md-2">
                    @Html.TextBox("quarter")
                </div>
            </div>
        </center>
        <input type="submit" value="Filter" />
    </p>
}

<p>
    @* @Html.ActionLink("Create New", "Create")*@
</p>


@using (Html.BeginForm("DeleteSelected", "Enrollments"))
{
    @grid.GetHtml(
                tableStyle: "gridtable",
                htmlAttributes: new { id = "checkableGrid" },
                columns:
                    grid.Columns(

                        @*Add Checkbox*@
                        grid.Column(format:@<text><input type="checkbox" name="ids" value="@item.EnrollmentID" /></text>, header: "{checkall}"),
                        grid.Column(format: (item) => Html.ActionLink("Edit/View", "edit", new { id = item.EnrollmentID }), style: "column-action"),

                        grid.Column("Student.FirstName", "First Name"),
                        grid.Column("Student.LastName", "Last Name"),
                        grid.Column("Student.StudentID", "Student ID"),
                        grid.Column("grade", "Grade"),
                        grid.Column("Course.classID", "Class ID"),
                        grid.Column("Course.className", "Class Name"),
                        grid.Column("Course.quarter", "Quarter"),
                        grid.Column("Course.CatalogNumber", "Catlog Number"),
                        grid.Column("Course.MeetTime", "Meet Time"),
                        grid.Column("Course.Location", "Location"),
                        grid.Column("Course.Instructor", "Instructor")






                    )
                )

    <button type="submit" value="ex" name="submitButton" onclick="return confirm('Confirm MARK record(s) for EXPORT?')"><img width="40" height="40" src="/Content/images/exportFile.png"> Mark Selected for Export</button>
    <button type="submit" value="del" name="submitButton" onclick="return confirm('Confirm DELETION of record(s)?')"><img width="40" height="40" src="/Content/images/deleteFile.ico"> Delete Selected</button>
}

@Html.ActionLink("Show Export Bag", "enrollmentsExport", "Enrollments",
null, new { @class = "modal-link btn btn-success" })

<div id="modal-container" class="modal fade"
     tabindex="-1" role="dialog">

</div>

