@model IEnumerable<WebApplication_UESL.Models.Course>

@{
    ViewBag.Title = "addEnrollment";
    var grid = new WebGrid(source: Model, rowsPerPage: 1000);
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        // 1st replace first column header text with checkbox

        $("#checkableGrid th").each(function () {
            if ($.trim($(this).text().toString().toLowerCase()) === "{checkall}") {
                $(this).text('');
                $("<input/>", { type: "checkbox", id: "cbSelectAll", value: "" }).appendTo($(this));
                $(this).append("<span>Select All</span>");
            }
        });

        //2nd click event for header checkbox for select /deselect all
        $("#cbSelectAll").click(function () {
            var ischecked = this.checked;
            $('#checkableGrid').find("input:checkbox").each(function () {
                this.checked = ischecked;
            });
        });


        //3rd click event for checkbox of each row
        $("input[name='ids']").click(function () {
            var totalRows = $("#checkableGrid td :checkbox").length;
            var checked = $("#checkableGrid td :checkbox:checked").length;

            if (checked == totalRows) {
                $("#checkableGrid").find("input:checkbox").each(function () {
                    this.checked = true;
                });
            }
            else {
                $("#cbSelectAll").removeAttr("checked");
            }
        });

    });
</script>

@* css *@
<style type="text/css">
    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
</style>

<h0>Enroll Student</h0>

<p>
    @Html.ActionLink("Student List", "Index")
</p>

@using (Html.BeginForm(Model))
{
    <div class="jumbotron2">
        <hs>Search Courses</hs>
        <p>
            <div class="row" style="padding:6px">
                <div class="col-md-2" style="text-align:right">
                    Class Name:
                </div>
                <div class="col-md-2">
                    @Html.TextBox("ClassName")
                </div>
                <div class="col-md-2" style="text-align:right">
                    Class ID:
                </div>
                <div class="col-md-2">
                    @Html.TextBox("classID")
                </div>
            </div>

            <div class="row" style="padding:6px">
                <div class="col-md-2" style="text-align:right">
                    Instructor:
                </div>
                <div class="col-md-2">
                    @Html.TextBox("Instructor")
                </div>
                <div class="col-md-2" style="text-align:right">
                    Quarter:
                </div>
                <div class="col-md-2">
                    @Html.TextBox("quarter")
                </div>
            </div>
            @Html.Hidden("studentRecordID", ViewData["studentRecordID"])
            @Html.Hidden("stID", ViewData["stID"])
        </p>
        <p0>
            <fl>
                <input type="submit" value="Filter Courses" />
            </fl>
        </p0>
    </div>
}

@using (Html.BeginForm("registerSelected", "Students"))
{
    <div class="jumbotron2">
        <center>
            @Html.Hidden("studentRecordID", ViewData["studentRecordID"])
            @Html.Hidden("stID", ViewData["stID"])


            @grid.GetHtml(
                tableStyle: "gridtable",
                 htmlAttributes: new { id = "checkableGrid" },
                columns:
                    grid.Columns(

                        @*Add Checkbox*@
                        grid.Column(format:@<text><input type="checkbox" name="ids" value="@item.ClassRecordID" /></text>, header: "{checkall}"),
                        grid.Column("ClassName", "Class Name"),
                        grid.Column("classID", "Class ID"),
                        grid.Column("Instructor", "Instructor"),
                        grid.Column("quarter", "Quarter"),
                        grid.Column("MeetTime", "Meeting Time"),
                        grid.Column("Location", "Location"),
                        grid.Column("CatalogNumber", "Catalog Number")




                    )
                )
            <p>
                <input type="submit" value="Enroll Student In Selected Courses" />
            </p>
        </center>
        <hr />
            <p>Note: This section is only for adding courses to students. Use the delete button on the student details page to remove a course from a student's record.</p>
    </div>
}

<hr />
<footer>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Students", "index", "Students")</li>
            <li>@Html.ActionLink("Courses", "index", "Courses")</li>
            <li>@Html.ActionLink("Enrollments", "index", "Enrollments")</li>
        </ul>
    </div>
</footer>