@model WebApplication_UESL.Models.Student

@{
    ViewBag.Title = "delete";
}

<h0>Delete Student Record</h0>

<h3>Are you sure you want to delete this record?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LetterGrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LetterGrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuarterOfPlacement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuarterOfPlacement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseCatalogNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseCatalogNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEVIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEVIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.I_20_Expiration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.I_20_Expiration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Citezenship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Citezenship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School_Agent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School_Agent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agent_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agent_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transfer_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transfer_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CWU_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CWU_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CWU_Housing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CWU_Housing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CWU_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CWU_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Home_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Home_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emergency_Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emergency_Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emergency_Contact_Relationship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emergency_Contact_Relationship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emergency_Contact_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emergency_Contact_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emergency_Contact_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emergency_Contact_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conditional_Admission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conditional_Admission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mission_Student_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mission_Student_ID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Student List", "Index")
        </div>
    }
</div>

<hr />
<footer>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Students", "index", "Students")</li>
            <li>@Html.ActionLink("Courses", "index", "Courses")</li>
            <li>@Html.ActionLink("Enrollments", "index", "Enrollments")</li>
        </ul>
    </div>
</footer>