
@model WebApplication_UESL.Models.Student

@{
    ViewBag.Title = "details";
    
}



<h0>Student Details</h0>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UniqueRecordID }) |
    @Html.ActionLink("Student List", "Index") <br />

    @* @Html.ActionLink("Add New Course", "addEnrollment", new { StudentID = Model.StudentID, uid = Model.UniqueRecordID }) *@
</p>

   
    
<div class="form-horizontal">
    <div class="jumbotron2">        
        <div class="form-group" style="display: inline-block;background-color:ButtonFace">
            <div class="col-md-3">
                <img src="@Url.Action("GetImage", "Students", routeValues: new { id = Model.UniqueRecordID })" style="max-height:300px;max-width:300px;padding:5px;text-align:center" />
            </div>
             </div> 
           
        <br />

                <div class="form-group">
                    @Html.Label("Student ID:", new { @class = "control-label col-md-3" })
                    <div class="col-md-3">
                        @Html.DisplayFor(Model => Model.StudentID, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("First Name:", new { @class = "control-label col-md-3" })
                    <div class="col-md-3">
                        @Html.DisplayFor(Model => Model.FirstName, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Last Name:", new { @class = "control-label col-md-3" })
                    <div class="col-md-3">
                        @Html.DisplayFor(Model => Model.LastName, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>
    </div> 
    <center>
        <h4>Biographical Info</h4>
    </center>       
 <div class="form-horizontal">
     <div class="jumbotron2">
         <div class="form-group">
             @Html.Label("Gender:", new { @class = "control-label col-md-3" })
             <div class="col-md-9">
                 @Html.DisplayFor(Model => Model.gender, new { htmlAttributes = new { @class = "form-control" } })

             </div>
         </div>

         <div class="form-group">
             @Html.Label("DOB:", new { @class = "control-label col-md-3" })
             <div class="col-md-9">
                 @Html.DisplayFor(Model => Model.DOB, new { htmlAttributes = new { @class = "form-control" } })

             </div>
         </div>

         <div class="form-group">
             @Html.Label("Citezenship:", new { @class = "control-label col-md-3" })
             <div class="col-md-9">
                 @Html.DisplayFor(Model => Model.Citezenship, new { htmlAttributes = new { @class = "form-control" } })

             </div>
         </div>

         <div class="form-group">
             @Html.Label("Phone:", new { @class = "control-label col-md-3" })
             <div class="col-md-9">
                 @Html.DisplayFor(Model => Model.Telephone, new { htmlAttributes = new { @class = "form-control" } })

             </div>
         </div>

         <div class="form-group">
             @Html.Label("Personal Email:", new { @class = "control-label col-md-3" })
             <div class="col-md-9">
                 @Html.DisplayFor(Model => Model.Email, new { htmlAttributes = new { @class = "form-control" } })

             </div>
         </div>

         <div class="form-group">
             @Html.Label("CWU Email:", new { @class = "control-label col-md-3" })
             <div class="col-md-9">
                 @Html.DisplayFor(Model => Model.CWU_Email, new { htmlAttributes = new { @class = "form-control" } })

             </div>
         </div>

         <div class="form-group">
             @Html.Label("CWU housing:", new { @class = "control-label col-md-3" })
             <div class="col-md-9">
                 @Html.DisplayFor(Model => Model.CWU_Housing, new { htmlAttributes = new { @class = "form-control" } })

             </div>
         </div>

         <div class="form-group">
             @Html.Label("CWU Address:", new { @class = "control-label col-md-3" })
             <div class="col-md-9">
                 @Html.DisplayFor(Model => Model.CWU_Address, new { htmlAttributes = new { @class = "form-control" } })

             </div>
         </div>

         <div class="form-group">
             @Html.Label("Home Address:", new { @class = "control-label col-md-3" })
             <div class="col-md-9">
                 @Html.DisplayFor(Model => Model.Home_Address, new { htmlAttributes = new { @class = "form-control" } })

             </div>
         </div>
    </div>
     <center>
         <h4>Emergency Contact</h4>
     </center>
     <div class="jumbotron2">
         <div class="form-group">
             @Html.Label("Emergency Contact:", new { @class = "control-label col-md-3" })
             <div class="col-md-9">
                 @Html.DisplayFor(Model => Model.Emergency_Contact, new { htmlAttributes = new { @class = "form-control" } })

             </div>
         </div>

         <div class="form-group">
             @Html.Label("Emergency Contact Relationship:", new { @class = "control-label col-md-3" })
             <div class="col-md-9">
                 @Html.DisplayFor(Model => Model.Emergency_Contact_Relationship, new { htmlAttributes = new { @class = "form-control" } })

             </div>
         </div>

         <div class="form-group">
             @Html.Label("Emergency Contact Phone:", new { @class = "control-label col-md-3" })
             <div class="col-md-9">
                 @Html.DisplayFor(Model => Model.Emergency_Contact_Phone, new { htmlAttributes = new { @class = "form-control" } })

             </div>
         </div>

         <div class="form-group">
             @Html.Label("Emergency Contact Email:", new { @class = "control-label col-md-3" })
             <div class="col-md-9">
                 @Html.DisplayFor(Model => Model.Emergency_Contact_Email, new { htmlAttributes = new { @class = "form-control" } })

             </div>
         </div>
    </div>
     <center>
         <h4>Admissions</h4>
     </center>
     <div class="jumbotron2">
         <div class="form-group">
             @Html.Label("Transfer:", new { @class = "control-label col-md-3" })
             <div class="col-md-9">
                 @Html.DisplayFor(Model => Model.Transfer_, new { htmlAttributes = new { @class = "form-control" } })

             </div>
         </div>

         <div class="form-group">
             @Html.Label("Conditional Admission:", new { @class = "control-label col-md-3" })
             <div class="col-md-9">
                 @Html.DisplayFor(Model => Model.Conditional_Admission, new { htmlAttributes = new { @class = "form-control" } })

             </div>
         </div>

         <div class="form-group">
             @Html.Label("Status:", new { @class = "control-label col-md-3" })
             <div class="col-md-9">
                 @Html.DisplayFor(Model => Model.Status, new { htmlAttributes = new { @class = "form-control" } })

             </div>
         </div>
         @*
            <div class="form-group">
                @Html.Label("Letter Grade", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DisplayFor(Model => Model.LetterGrade, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>
         *@
         <div class="form-group">
             @Html.Label("Placement:", new { @class = "control-label col-md-3" })
             <div class="col-md-9">
                 @Html.DisplayFor(Model => Model.Placement, new { htmlAttributes = new { @class = "form-control" } })

             </div>
         </div>

         <div class="form-group">
             @Html.Label("Placement Quarter:", new { @class = "control-label col-md-3" })
             <div class="col-md-9">
                 @Html.DisplayFor(Model => Model.QuarterOfPlacement, new { htmlAttributes = new { @class = "form-control" } })

             </div>
         </div>
         @*
            <div class="form-group">
                @Html.Label("Catalog Number", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DisplayFor(Model => Model.CourseCatalogNumber, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>
         *@
    </div>
     <center>
         <h4>Other</h4>
     </center>
     <div class="jumbotron2">
         <div class="form-group">
             @Html.Label("SEVIS:", new { @class = "control-label col-md-3" })
             <div class="col-md-9">
                 @Html.DisplayFor(Model => Model.SEVIS, new { htmlAttributes = new { @class = "form-control" } })

             </div>
         </div>

         <div class="form-group">
             @Html.Label("Eligibility Expiration (I 20):", new { @class = "control-label col-md-3" })
             <div class="col-md-9">
                 @Html.DisplayFor(Model => Model.I_20_Expiration, new { htmlAttributes = new { @class = "form-control" } })

             </div>
         </div>

         <div class="form-group">
             @Html.Label("School Agent:", new { @class = "control-label col-md-3" })
             <div class="col-md-9">
                 @Html.DisplayFor(Model => Model.School_Agent, new { htmlAttributes = new { @class = "form-control" } })

             </div>
         </div>

         <div class="form-group">
             @Html.Label("Agent Email:", new { @class = "control-label col-md-3" })
             <div class="col-md-9">
                 @Html.DisplayFor(Model => Model.Agent_Email, new { htmlAttributes = new { @class = "form-control" } })

             </div>
         </div>

         <div class="form-group">
             @Html.Label("Mission Student ID:", new { @class = "control-label col-md-3" })
             <div class="col-md-9">
                 @Html.DisplayFor(Model => Model.Mission_Student_ID, new { htmlAttributes = new { @class = "form-control" } })

             </div>
         </div>

         <div class="form-group">
             @Html.Label("Mission ID Expiration:", new { @class = "control-label col-md-3" })
             <div class="col-md-9">
                 @Html.DisplayFor(Model => Model.Mission_ID_Expiration, new { htmlAttributes = new { @class = "form-control" } })

             </div>
         </div>

         <div class="form-group">
             @Html.Label("Comments:", new { @class = "control-label col-md-3" })
             <div class="col-md-9">
                 @Html.TextAreaFor(Model => Model.Comments, new { @readonly = true, cols = 100, rows = 10, })

             </div>
         </div>

         <div class="form-group">
             <div class="col-md-offset-3 col-md-9">

             </div>
         </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UniqueRecordID }) |
    @Html.ActionLink("Student List", "Index") <br />

    @* @Html.ActionLink("Add New Course", "addEnrollment", new { StudentID = Model.StudentID, uid = Model.UniqueRecordID }) *@
</p>

<center>
    <h1>Enrolled Courses for this Student</h1>
</center>

<p>
    <cf>
        <button onclick="location.href='@Url.Action("addEnrollment", "Students", new { StudentID = Model.StudentID, uid = Model.UniqueRecordID })';return false;">Enroll in Course</button>
    </cf>
</p>


@*Renders the partial view that shows currently enrolled classes for this student*@
<center>@{Html.RenderAction("enrolledCourses", "Students");}</center>

  
